/*---------FONTE---------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*------------VARIÁVEIS GLOBAIS------------------*/
:root {
    --cor-primaria: #020024;
    --cor-primaria-escura: #090979;
    --cor-bg: #00D4FF;
    --cor-branco: #ffffff;
    --cor-borda: #ddd;
    --cor-sombra: 0 0 10px rgba(0, 0, 0, 0.15);
    --cor-texto: #333;

    --fonte: 'Roboto', sans-serif;

    --raio: 0.8rem;
    --transition: 0.3s ease;

}

/** -------- reset css--------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------body----------*/
body {
    font-family: var(--fonte);
    background: linear-gradient(90deg, 
        rgba(2, 0, 36, 1) 0%, 
        rgba(9, 0, 121, 1) 80%, 
        rgba(0, 212, 255, 1) 100%
    );
}